@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1665138230008') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-unlock:before {
  content: "\34bc";
}

.icon-lock:before {
  content: "\e791";
}

.icon-unlocked:before {
  content: "\e8a7";
}

.icon-unlocked1:before {
  content: "\e827";
}

.icon-lock1:before {
  content: "\e76b";
}

.icon-unlock1:before {
  content: "\e851";
}

.icon-unlock2:before {
  content: "\e72c";
}

.icon-unlock3:before {
  content: "\e66d";
}

.icon-lock-fill:before {
  content: "\e86a";
}

.icon-lock-fill1:before {
  content: "\e7b9";
}

.icon-lock2:before {
  content: "\e61c";
}

.icon-lock3:before {
  content: "\e6fc";
}

.icon-lock4:before {
  content: "\e635";
}

.icon-lock5:before {
  content: "\e675";
}

